@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Default.jpeg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  background-repeat: no-repeat;
}

.card {
  width: 90%;
  max-width: 400px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
}

::placeholder {
  color: white;
  opacity: 1;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search input {
  flex: 1;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  background: transparent;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search input:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search button {
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search button img {
  width: 100%;
  height: auto;
}

.search button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.temp {
  font-size: 4rem;
  text-align: center;
}

.city {
  font-size: 2rem;
  text-align: center;
}

.card-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

/* Responsive styling */
@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
  }
}
