@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");

/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Our Styling */
body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/images/defaultBG.jpeg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  background-repeat: no-repeat;
}

.weather-card {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
}

/* ::placeholder {
  color: white;
  opacity: 1;
} */

.weather-search {
  /* width: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* gap: 1rem; */
}

.search input {
  flex: 1;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  background: transparent;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search input:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search button {
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search button img {
  width: 100%;
  height: auto;
}

.search button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.temp {
  font-size: 4rem;
  text-align: center;
}

.city {
  font-size: 2rem;
  text-align: center;
}

.card-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

/* Responsive styling */
@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
  }
}
